iframe {
  display: none;
}

body {
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
}

.notification {
  transition-property: opacity, min-height;
  transition-duration: 1s;
  min-height: 36px;
}

.notification.hidden {
  min-height: 0;
  opacity: 0;
  pointer-events: none;
}

@import "./todoapp";
@import "./todo";
@import "./filter";

.hidden {
  display: none;
}

.todo__loader {
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.todo__loader.is-active {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.overlay {
  display: none;
}

.overlay.is-active {
  display: block;
}